
body{
  background-color: blanchedalmond;
  color: saddlebrown;
}

h2{
  font-family: 'Dosis', sans-serif;
}

.price{
  font-size: 1.3em;
  padding-left: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.card{
  margin: .5em;
  width: 13rem;
}

.card-image-top {
}

.controls button{
  font-family: 'Dosis', sans-serif;
}


#receipts.row :nth-child(even){
  background-color: #dcdcdc;
}
#receipts.row :nth-child(odd){
  background-color: #aaaaaa;
}
